@use '../../style/global' as *;
@use '../../style/partial/color-var' as *;
@use "../../style/partial/font-var" as *;
@use '../../style/partial/fonts' as *;
@use '../../style/partial/mixin' as *;



.add-warehouse{
    padding: 1rem;
    background: linear-gradient(to bottom, $color-graphite 15%, $color-Lgrey 10%);

    &__header{
        display: flex;
        padding: 1.5rem;
        border-bottom: 1px solid $color-cloud;

        &--back{
            display:flex;
            justify-content: flex-end;
        }
        &--title{
            padding-left:.325rem;
        }
    }

    &__wrapper{
        box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
        background-color: $color-white;
        margin: 1rem;
        border-radius: 4px;
    }
    &__form{
        & input{
            border-width: 1px;
        }
        &:active {
            border-color:$color-indigo;
            border-width: 1px;
        }

        &--title{
            padding: 0 0 1rem 0;
            font-size: $m-h1;
        }
        &--section-1{
            padding: 1rem;
            border-bottom: 1px solid $color-cloud;
        }
        &--section-2{
            padding:1rem;
        }
        &--input{
        border-color: $color-cloud;
        height: 2.5rem;
        border-radius: 20px;
        padding: 0 0 0 .625rem;

        }
        & label{
            font-size: $m-h3;
            padding-bottom: 4px;
            font-family: "titillium-semi-bold";
            
        }
    }
    &__container{
        display:flex;
        flex-direction:column;
    }
    &__line{
        margin-bottom: .625rem;
        display: flex;
        flex-direction: column; 
    }
    &__button{
        display: flex;
        padding: 16px 0;
        margin-top: 16px;
        background-color: $color-Lgrey;
        justify-content: center;

        &--cancel{
            height: 36px;
            padding: 0 1rem;
            border-radius: 20px;
            border: none;
            width: 30%;
            background-color: $color-white;
            border: 1px solid $color-cloud;
            margin-right: 1rem;
        }
        &--submit{
            height: 36px;
            padding: 0 16px;
            border-radius: 20px;
            border: none;
            width: 30%;
            color: $color-white;
            background-color: $color-indigo;    
        }
    }
    &__error{
        border: $color-red 1px solid;
    }
}