@use '../../style/global' as *;
@use '../../style/partial/color-var' as *;
@use "../../style/partial/font-var" as *;
@use '../../style/partial/fonts' as *;
@use '../../style/partial/mixin' as *;



.add-warehouse{
    padding: 1rem;
    background: linear-gradient(to bottom, $color-graphite 15%, $color-Lgrey 10%);

    &__header{
        display: flex;
        padding: 1.5rem;
        border-bottom: 1px solid $color-cloud;

        &--back{
            position: relative;
            top: 10px;
        }
        &--title{
            padding-left:.325rem;

            @include tablet{
                font-size: $h1;
            }
        }
    }

    &__wrapper{
        box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
        background-color: $color-white;
        margin: 1rem;
        border-radius: 4px;
    }
    &__form{
        & input{
            border-width: 1px;
        }
        &:active {
            border-color:$color-indigo;
            border-width: 1px;
        }

        &--title{
            padding: 0 0 1rem 0;
            font-size: $m-h2;

            @include tablet{
                font-size: $h2;
            }   
        }
        &--container{
            display: flex;
            flex-direction: column;
            @include tablet{
                flex-direction: row;
                justify-content: center;
            }
        }
        &--section-1{
            padding: 1rem;
            border-bottom: 1px solid $color-cloud;
            
            @include tablet{
                border-bottom: none;
                width: 100%;
                padding: 1rem 1rem 0 2rem;
            }
        }
        &--section-2{
            padding:1rem;

            @include tablet{
                padding: 0 2rem 0 1rem;
                margin: 1rem 0;
                width: 100%;
                border-left: solid 1px $color-cloud
            }
        }
        &--input{
        border-color: $color-cloud;
        height: 2.5rem;
        border-radius: 20px;
        padding: 0 0 0 .625rem;

        }
        & label{
            font-size: $m-h3;
            padding-bottom: 4px;
            font-family: "titillium-semi-bold";
            
        }
    }
    &__container{
        display:flex;
        flex-direction:column;
    }
    &__line{
        margin-bottom: .625rem;
        display: flex;
        flex-direction: column; 
    }
    &__button{
        display: flex;
        padding: 1rem 0;
        margin-top: 1rem;
        background-color: $color-Lgrey;
        justify-content: center;

        @include tablet{
            padding: 1rem 2rem;
            justify-content: flex-end;
        }

        &--cancel{
            height: 2.25rem;
            padding: 0 1rem;
            border-radius: 20px;
            border: none;
            width: 40%;
            background-color: $color-white;
            border: 1px solid $color-cloud;
            margin-right: 1rem;
            font-size: .622rem;
            color: $color-slate;

            @include tablet{
                width: 10%;
                font-size: $h3;
                padding: 0rem;
            }
        }
        &--submit{
            height: 2.25rem;
            padding: 0 1rem;
            border-radius: 20px;
            border: none;
            width: 40%;
            color: $color-white;
            background-color: $color-indigo; 
            font-size: $m-h3;  
            
            @include tablet{
                width: 17.5%;
                font-size: $h3;
            }
        }
    }
    &__error{
        border: $color-red 1px solid;
    }
}