@use '../../style/global' as *;
@use '../../style/partial/color-var' as *;
@use '../../style/partial/fonts' as *;
@use '../../style/partial/mixin' as *;


.inventorylist{
    display: flex;
    justify-self: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-cloud ;
    

    &__header{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        @include tablet{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        @include desktop{
            display: flex;
            flex-direction: row;
        }
    }

    &__title{
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
        @include tablet{
            font-size: 32px;
            line-height: 40px;
        }
    }

    &__search{
        &-img{
            display: flex;
            position: relative;
            left: 258px;
            top:32px;
            @include tablet{
                position: relative;
                z-index: 1;
            }
        }
        &-title{
            border-radius: 20px;
            width: 295px;
            height: 36px;
            padding-left: 16px;
            @include tablet{
                width: 185px;
                height: 38px;
                position: relative;
                left: 100px;
            }
        }
        &-add{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            width: 295px;
            height: 36px;
            padding-left: 16px;
            background-color: $color-indigo;
            margin-top: 16px;
            font-family: 'titillium-regular';
            color: $color-white;
            font-size: 13px;
            line-height: 20px;
            @include tablet{
                width: 128px;
                height: 38px;
            }

        }
    }
}