@use "../../style/global" as *;
@use "../../style/partial/color-var" as *;
@use "../../style/partial/fonts" as *;
@use "../../style/partial/mixin" as *;

.inventorylist {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $color-cloud;

  &__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.25rem;
    font-weight: 600;
    @include tablet {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    @include desktop {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  &__search {
    @include desktop {
      margin-left: 30rem;
    }
    &-img {
      display: flex;
      position: relative;
      left: 16.125rem;
      top: 2rem;
      @include tablet {
        position: relative;
        z-index: 1;
      }
      @include desktop {
        position: relative;
        z-index: 1;
      }
    }
    &-title {
      border-radius: 1.25rem;
      width: 100%;
      height: 2.25rem;
      padding-left: 1rem;
      @include tablet {
        width: 11.5625rem;
        height: 2.375rem;
        position: relative;
        left: 6.25rem;
      }
      @include desktop {
        width: 17.5625rem;
        height: 2.375rem;
        position: relative;
        left: 6.25rem;
      }
    }
    &-add {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1.25rem;
      width: 100%;
      height: 2.25rem;
      padding-left: 1rem;
      background-color: $color-indigo;
      margin-top: 1rem;
      font-family: "titillium-regular";
      color: $color-white;
      font-size: 0.8125rem;
      line-height: 1.25rem;
      @include tablet {
        width: 8rem;
        height: 2.375rem;
      }
      @include desktop {
        width: 8rem;
        height: 2.375rem;
        margin-left: 6rem;
      }
    }
  }
}

.inventoryCardtableandDesktop {
  @include tablet {
    &__hitem {
      width: 21.9%;
    }
    &__hcategory {
      width: 18%;
    }
    &__hstatus {
      width: 17%;
    }
    &__hqty {
      width: 16%;
    }
    &__hwarehouse {
      width: 16%;
    }
  }
  @include desktop {
    &__hitem {
      width: 21.9%;
    }
    &__hcategory {
      width: 18%;
    }
    &__hstatus {
      width: 17%;
    }
    &__hqty {
      width: 16%;
    }
    &__hwarehouse {
      width: 16%;
    }
  }
}

.Link__item {
  text-decoration: none;
}

.inventoryList__wrapper {
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  background-color: $color-white;
  margin-inline: 1rem;
  border-radius: 4px;
}
