// primary color

$color-black: #13182c;
$color-indigo: #2e66e5;
$color-white: #ffffff;

//secondary colors
$color-slate: #5c667e;
$color-cloud: #bdc5d5;

//background colors
$color-graphite: #232940;
$color-Lgrey: #f7f8f9;

//suporting colors
$color-green: #158463;
$color-red: #c94515;
