@font-face {
  font-family: "titillium-regular";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "titillium-semi-bold";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf");
  font-weight: 600;
}
