// mobile  text styles

    $m-h1: 1.75rem;
    $m-h2: 1.25rem;
    //button links labels
    $m-h3: .8125rem;

// tab & desktop text styles
    $h1: 2rem;
    $h2: 1.5rem;
    //button links labels
    $h3: .875rem;