@mixin tablet {
  @media only screen and (min-width: 767px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and(min-width:1280px) {
    @content;
  }
}

@mixin round-element {
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  min-width: 122px;
}
