.add-warehouse{
    &__form input{
        width:100%;
        height: 2.5rem;
        border-radius: 20px;
    }
    &__container{
        margin: 0 1rem;
        display:flex;
        flex-direction:column;
    }
    &__line{
        margin-bottom: .625rem;
        display: flex;
        flex-direction: column; 
    }
    &__error input{
        border: red 1px solid;

    }
}