@use "../../style/partial/color-var" as *;
@use "../../style/partial/mixin" as *;

label{
    font-size: 0.688rem;
  line-height: 1rem;
  font-family: "titillium-regular";
  font-weight: 400;

}

.itemDetails {
    &__container{
        margin: 0 16px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);

        @include tablet{
            margin: 0 32px;
        }
    }


}

.header {
    &__wrapper{
        display: flex;
        padding: 32px 24px 22px 24px;
        border-bottom: 1px solid $color-cloud;
        align-items: center;

        @include tablet{
            padding: 32px 32px 23px 32px;
        }
        
    }
    &__backArrow{
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }
    &__editButton-icon {
        fill:white
    }
    &__editButton-mobile{
        width: 36px;
        height: 36px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background-color: $color-indigo;
        background-image: url("../../assets/icons/edit-24px.svg");
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        @include tablet {
            display: none;
        }
        
    }
    &__editButton-tablet{
        display: none;
        @include tablet{
            display: block;
            margin-left: auto;
            width: 80px;
            height: 38px;
            border-radius: 20px;
            border: none;
            color: $color-white;
            background-color: $color-indigo;
            line-height: 38px;
            
        }
    }
}

.info {
    &__container{
        padding: 8px 24px 24px 24px;
        display: flex;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
            padding: 32px 32px 24px 32px;
        }
    }

    &__card{

        &-container{
            display: flex;
            width: 100%;
        }

        &-wrapper{
            margin-top: 16px;

            @include tablet{
                margin-top: 0;
            }

            &-right{
                width: 50%;
            }
        }

        &-description{
            margin-top: 4px;

            @include tablet{
                margin-top: 16px;
                margin-bottom: 32px;
            }

            &-instock{
                color: $color-green;
                background-color: rgba(51, 170, 51, .07);
                width: 61px;
                border-radius: 12px;
                text-align: center;
                
            }
        }
    }
}

.right{
    
    width: 100%;

    @include tablet {
        width: 50%;
        border-left: 1px solid $color-cloud;
        padding-left: 32px;
    }
}

.left {
    @include tablet {
        width: 50%;
        margin-right: 16px;
    }
}