//import variables
//import mixins
//import fonts
//import reset


.header__container{
    display: flex;
    flex-direction: column;
    background-color: #232940;
    @media (min-width: 720px){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 32px;
    }
}

.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    margin-bottom: 24px;
    @media (min-width: 720px){
        display: flex;
    }
}

.subheader{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 13px;
    line-height: 20px;
    justify-content: space-around;
    padding-bottom: 24px;
    text-align: center;
    justify-items: center;
    @media (min-width: 720px){
        font-size: 14px;
        line-height: 22px;
    }

    &__warehouse{
        background-color: #13182C;
        border-radius: 20px;
        width: 164px;
        height: 36px;
        text-align: center;
        justify-content: center;
        &-title{
            text-align: center;
            position: relative;
            bottom: 8px;    
        }
        
    }

    &__inventory{
        background-color: #232940;
        border-radius: 20px;
        width: 164px;
        height: 36px;
        text-align: center;
        justify-content: center;
        &-title{
            text-align: center;
            position: relative;
            bottom: 8px;
        }
    }

}
