@use "../../style/partial/color-var" as *;
@use "../../style/partial/mixin" as *;

body {
  background-color: $color-Lgrey;
}

.WarehouseList {
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  background-color: $color-white;
  margin: 1rem;
  border-radius: 4px;
  &__header {
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
    padding-block: 2rem;
    @include tablet {
      flex-direction: row;
      padding-inline: 2rem;
      padding-block: 2rem 1.5rem;
    }
    @include desktop {
      flex-direction: row;
      padding-inline: 2.5rem;
      padding-top: 2rem;
    }
  }
  &__title {
    @include tablet {
      margin-right: auto;
    }
    @include desktop {
      margin-right: auto;
    }
  }
  &__search,
  &__button {
    @include round-element;
  }
  &__list-header {
    text-transform: uppercase;
    color: $color-slate;
    background-color: $color-Lgrey;
    display: none;
    @include tablet {
      padding-block: 0.6875rem;
      padding-inline: 2rem;
      display: flex;
    }
    @include desktop {
      display: flex;
      padding-inline: 2.5rem;
    }
  }
  &__list-header-item {
    flex-grow: 1;
  }
  &__list-item {
    padding-block: 1rem;
    padding-inline: 1.5rem;
  }
  &__list-item-header {
    color: $color-slate;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
  &__list-item-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 12.5rem;
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      flex-direction: row;
    }
  }
  &__list-item-box {
    height: 50%;
  }
  &__list-item-address-text {
    display: flex;
    flex-direction: column;
  }
  &__list-item-contact-info-text {
    display: flex;
    flex-direction: column;
  }
  &__list-item-actions {
    display: flex;
    justify-content: space-between;
    @include tablet {
      justify-content: flex-start;
    }
  }
  &__list-item-delete,
  &__list-item-edit {
    display: block;
    background-color: red;
    width: 10px;
    height: 10px;
  }
  &__list-item-header {
    display: block;
    @include tablet {
      display: none;
    }
  }
}
